@media (min-width: 480px) {
  header,
  nav,
  p,
  main,
  footer {
    max-width: 950px;
    margin: 5px auto;
  }

  header {
    grid-template-columns: 40px auto;
  }

  header button {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 5px;
  }
}
