:root {
  /* Brand */
  --color-primary: #2563eb;
  --color-secondary: #16a34a;

  /* Neutrals */
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
   --color-sections: #e3e3e3;

  /* Text */
  --color-text-primary: #111827;
  --color-text-muted: #6b7280;
  --color-border: #ddd;
  --color-nav-border: #1f1f1f;

  /* Semantic */
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #f59e0b;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, span{
  font-family: inter;
}
h1, h2, button, p{
  font-family: merriweather, sans-serif;
}
header{
  display: grid;
  grid-template-columns: 24px auto 44px;
  align-items: end;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid var(--color-text-muted);
  column-gap: 8px;
}
header img{
  display: block;
  width: 100%;
  height: auto;
}
nav{
  display: none;
}
nav.open{
  display: block;
}
nav ul{
  background-color: var(--color-text-primary)

}
nav ul li{
  list-style-type: none;
  border: 3px solid var(--color-nav-border);
  cursor: pointer;
}
nav ul li:hover{
  text-decoration: underline;
  color: var(--color-border);
}
ul li a{
  text-decoration: none;
  color: var(--color-bg);
}
footer img{
  width: 50px;
  height: auto;
}
p{
  padding: 5px;
}
h2{
  text-align: center;
  background-color: var(--color-text-primary);
  color: var(--color-border);
}
.section-footer{
  text-align: center;
  background-color: var(--color-sections);

}
main > h1 {
  grid-column: 1 / 3;
}
.student-photo img{
  display: block;
  margin: 5px auto;

}
.current{
  background-color: var(--color-text-muted);
  padding: 5px;
}
.cross{
  display: none;
}
.hamberger, #cross-btn{
  cursor: pointer;
  font-size: 42px;
  border: none;
}
.all, .cse, .wdd{
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 5px;
}
.course-name{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.render-certificates{
  padding: 5px;
}
.course-credits{
  text-align: center;
}
.footer-navs{
  display: flex;
  justify-content: center;
  align-items: center;
}
