@media (min-width:610px){
  header, nav, p, main, footer{
    max-width: 900px;
    margin: 5px auto;
  }
  main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  section{
    background-color: var(--color-sections);
  }

  header{
    grid-template-columns: 24px auto;
  }
  nav{
    display: block;

  }
  nav ul{
    display: flex;

    padding: 5px;
    gap: 5px;
  }
  .hamberger, #cross-btn{
    display: none;
  }
  .web-courses{
    grid-column: 1/3;
  }
  .render-certificates{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .current{
  background-color: var(--color-text-muted);
  padding: 5px;
}


}
